# Flanneld configuration options

# etcd url location.  Point this to the server where etcd runs
FLANNEL_ETCD_ENDPOINTS="{{ ETCD_ENDPOINTS }}"

# etcd config key.  This is the configuration key that flannel queries
# For address range assignment
FLANNEL_ETCD_PREFIX="/flannel.docker/network"

# Any additional options that you want to pass
#FLANNEL_OPTIONS=""
FLANNEL_OPTIONS="-v=9 --ip-masq=true  --etcd-cafile={{ etcd_ca_dir }}/ca.pem --etcd-certfile={{ etcd_ca_dir }}/etcd.pem --etcd-keyfile={{ etcd_ca_dir }}/etcd.key
